<div id="confirm">
    <div class="form_header">
        <div class="non-padding col-xs-3">
            <button class="non-padding" ng-click="fn.prevStep()">
                <img class="non-padding" src="../assets/images/merchant-mobile/btn_back.png">
            </button>
        </div>
        <div class="title col-xs-6">
            <p><span>{{::i18n.title_confirm}}</span></p>
        </div>
        <div class="non-padding col-xs-3">
            <button class="non-padding btn-confirm" ng-click="fn.createNewAppointment()">
                <span>{{::i18n.confirm}}</span>
            </button>
        </div>
    </div>
    <div class="form_content">
        <div class="container">
        <form class="form" role="form">
            <div class="row color-orange" ng-show="form.employee.id!=ANY_ONE_ID">
                <div class="col-xs-3 middle">
                    <p   class="w64">{{::i18n.label_employee}}</p>
                </div>
                <div class="col-xs-7 ">
                    <p class="pdtb5"><span>{{form.employee.fullName}}</span></p>
                </div>
                <div class="col-xs-2">
                    <button class="btn-edit-user" ng-click="fn.gotoStep(steps.selectTime)">
                    </button>
                </div>
            </div>

            <div class="row color-orange">
                <div class="col-xs-3 middle">
                    <p  class="w64">{{::i18n.label_product}}</p>
                </div>
                <div class="col-xs-7 line-inner">
                    <p class="pdtb5" ng-repeat="item in form.products">
                       {{item.productName}}<i>({{::i18n.label_icon_monney}}{{item.price}})</i>
                    </p>
                    <p class="pdtb5 fr">
                        <b>{{::i18n.label_icon_monney}} {{totalPrice}}</b>
                    </p>
                </div>
                <div class="col-xs-2">
                    <button class="btn-edit-user" ng-click="fn.gotoStep(steps.selectTime)">
                    </button>
                </div>
            </div>

            <div class="row color-orange">
                <div class="col-xs-3 middle">
                    <p class="w64">{{::i18n.label_time}}</p>
                </div>
                <div class="col-xs-7 ">
                    <p class="pdt5"><span>{{form.info.scheduleDate}}</span></p>

                    <p class="pdtb5"><span><i>{{form.info.fromTime}} ~ {{form.info.toTime}}  </i></span></p>
                </div>
                <div class="col-xs-2">
                    <button class="btn-edit-user" ng-click="fn.gotoStep(steps.selectTime)">
                    </button>
                </div>
            </div>

            <div class="row rowsmall">
                <div class="col-xs-3">
                    <p class="w64 text-gray">{{::i18n.label_name}}</p>
                </div>
                <div class="col-xs-9 wordbreak">
                    {{form.info.name}}
                </div>
            </div>
            <div class="row rowsmall">
                <div class="col-xs-3">
                    <p class="w64 text-gray">{{::i18n.label_phone}}</p>
                </div>
                <div class="col-xs-9 wordbreak">
                    {{form.info.phoneNumber}}
                </div>
            </div>
            <div class="row rowsmall">
                <div class="col-xs-3">
                    <p class="w64 text-gray">{{::i18n.label_email}}</p>
                </div>
                <div class="col-xs-9 wordbreak">
                    {{form.info.emailAddress}}
                </div>
            </div>

            <div class="row rownote rowsmall">
                <div class="col-xs-3">
                    <p class="w64 text-gray">{{::i18n.label_note}}</p>
                </div>
                <div class="col-xs-7 ">   </div>
                <div class="col-xs-2">
                    <button class="btn-edit-user" ng-click="fn.gotoStep(steps.customerInfo)">
                    </button>
                </div>
            </div>
            <div class="row rownote rowsmall">
                <div class="col-xs-12 ">
                    <p  style="word-break: break-all;margin-top: 5px;">{{form.info.notes}}</p>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>