<div id="customerInfo">
    <div class="form_header">
        <div class="non-padding col-xs-3">
            <button class="non-padding" ng-click="fn.prevStep()">
                <img class="non-padding" src="../assets/images/merchant-mobile/btn_back.png">
            </button>
        </div>
        <div class="title col-xs-6">
            <p><span>{{::i18n.title_customer_info}}</span></p>
        </div>
        <div class="non-padding col-xs-3">
            <button class="non-padding btn-confirm" ng-click="fn.nextStep()">
                <span>{{::i18n.next}}</span>
            </button>
        </div>
    </div>
    <div class="form_content">
        <div class="container">
        <form class="form" role="form">
            <div class="item">
                <div class="col-xs-12">
                    <label class="item-input">
                        <i class="icon icon-name placeholder-icon"></i>
                           <input id="bookerName"name="bookerName" type="text"
                           maxlength="20"
                           ng-blur="fn.removeAllSpaces($event)"
                           placeholder="{{::i18n.label_name}}"
                           ng-model="form.info.name"/>
                    </label>
                </div>
            </div>
            <div class="item">
                <div class="col-xs-12">
                    <label class="item-input">
                        <i class="icon icon-phone placeholder-icon"></i>
                        <input type="tel" id="phoneNumber" name="phoneNumber"
                               maxlength="17"
                               ng-blur="fn.removeAllSpaces($event)"
                               placeholder="{{::i18n.label_phone}}" ng-model="form.info.phoneNumber"/>
                    </label>
                </div>
            </div>

            <div class="item">
                <div class="col-xs-12">
                    <label class="item-input">
                        <i class="icon icon-email placeholder-icon"></i>
                        <input type="email" placeholder="{{::i18n.label_email}}" id="emailAddress"
                               maxlength="200"
                               ng-blur="fn.removeAllSpaces($event)"
                               name="emailAddress" ng-model="form.info.emailAddress"/>
                    </label>

                </div>
            </div>
            <div class="itemnote">
                <div class="col-xs-12">
                    <label class="item-input item-textarea">
                        <i class="icon icon-notes placeholder-icon"></i>
                       <textarea id="notes" cols="40" rows="32" name="notes"
                                 maxlength="200"
                                 ng-blur="fn.removeSpaces($event)"
                                 ng-model="form.info.notes" placeholder="{{::i18n.label_note}}"/>
                    </label>

                </div>
            </div>
            <div class="item" ng-show="showMsgFromShop">
                <div class="col-xs-12">
                    <div class="messagebox">
                        <div class="icon-msg">{{::i18n.msg_from_shop}}</div>
                        <div class="msg-content">{{shopInfo.msgFromShop}}</div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

</div>