<div id="confirm">
    <div class="form_header">
        <div class="non-padding col-xs-12">
            <button class="btn-back" ng-click="fn.showHistory()">
              {{::i18n.back}}
            </button>
        </div>
    </div>
    <div class="form_content">
        <div  ng-class="{'container h85': item.canEdit,'container': !item.canEdit}">
            <form class="form" role="form">
                <div class="row rowsmall color-orange">
                    <div class="col-xs-3">
                        <p class="w64">{{::i18n.label_shopname}}</p>
                    </div>
                    <div class="col-xs-9 pdr5">
                        <p><span>{{item.shopName}}</span></p>
                    </div>
                </div>
                <div class="row rowsmall color-orange" ng-show="item.employee.id!=ANY_ONE_ID">
                    <div class="col-xs-3">
                        <p class="w64">{{::i18n.label_employee}}</p>
                    </div>
                    <div class="col-xs-9 pdr5">
                        <p><span>{{item.employee.fullName}}</span></p>
                    </div>
                </div>

                <div class="row rowsmall color-orange">
                    <div class="col-xs-3">
                        <p class="w64">{{::i18n.label_product}}</p>
                    </div>
                    <div class="col-xs-9 products_line">
                         <p ng-repeat="detail in item.appointmentDetails">
                             <span>{{detail.product.productName}} <i>({{::i18n.label_icon_monney}}{{detail.product.priceFormat}})</i></span>
                          </p>

                        <p>
                            {{::i18n.label_icon_monney}} {{totalPrice}}
                        </p>
                    </div>
                </div>

                <div class="row rowsmall color-orange">
                    <div class="col-xs-3">
                        <p class="w64">{{::i18n.label_time}}</p>
                    </div>
                    <div class="col-xs-9 pdr5">
                        <p><span>{{item.scheduleDate}}</span></p>
                        <p><span>{{item.fromTime}} ~ {{item.toTime}}</span></p>
                    </div>
                </div>

                <div class="row rowsmall">
                    <div class="col-xs-3">
                        <p class="w64 text-gray">{{::i18n.label_name}}</p>
                    </div>
                    <div class="col-xs-9 pdr5 wordbreak">
                        {{item.customerName}}
                    </div>
                </div>
                <div class="row rowsmall">
                    <div class="col-xs-3 ">
                        <p class="w64 text-gray ">{{::i18n.label_phone}}</p>
                    </div>
                    <div class="col-xs-9 pdr5 wordbreak">
                        {{item.telephone}}
                    </div>
                </div>
                <div class="row rowsmall">
                    <div class="col-xs-3">
                        <p class="w64 text-gray">{{::i18n.label_email}}</p>
                    </div>
                    <div class="col-xs-9 pdr5 wordbreak">
                        {{item.emailAddress}}
                    </div>
                </div>
                <div class="row rowsmall">
                    <div class="col-xs-3">
                        <p class="w64 text-gray">{{::i18n.label_status}}</p>
                    </div>
                    <div class="col-xs-9 pdr5">
                        {{item.statusText}}
                    </div>
                </div>
            </form>
        </div>
        <div class="bar_bottom" ng-show="item.canEdit">
              <button class="button icon-delete" ng-click="fn.cancelAppointment()">{{::i18n.label_cancel_appointment}}</button>
              <button class="button icon-edit" ng-click="fn.gotoEdit()">{{::i18n.label_update}}</button>
        </div>
    </div>
</div>