<div id="error">
    <div class="form_header">
        <div class="non-padding col-xs-3">
        </div>
        <div class="title col-xs-6">
            <p><span>{{::i18n.title_error}}</span></p>
        </div>
        <div class="non-padding col-xs-3">

        </div>
    </div>
    <div class="form_content">
        <div class="error"><p><span>  {{message}}</span></p>
        </div>
    </div>
</div>