<div class="mobile-user">
    <div ng-wizard="currentStep">
        <div wizard-step="{{steps.list}}">
            <div ng-template-url="../templates/user-mobile/history_list.html"></div>
        </div>
        <div wizard-step="{{steps.detail}}">
            <div ng-template-url="../templates/user-mobile/display.html"></div>
        </div>
    </div>
</div>