<div id="searchPage" class="mobile-user">
    <div class="form_header">
        <div class="non-padding col-xs-3">
            <button class="non-padding" ng-click="fn.back()">
                <img class="non-padding" src="../assets/images/merchant-mobile/btn_back.png">
            </button>
        </div>
        <div class="title col-xs-6">
            <p><span>{{::i18n.title_history}}</span></p>
        </div>
    </div>

    <div class="form_content">
        <div class="container">
            <ul class="list-history">
                <li class="header">
                    <div>
                        <p>{{::i18n.your_reserves}}</p>
                    </div>
                </li>
                <li  class="row-item"  ng-click="fn.display(item)" ng-repeat="item in currentFutureAppointment">
                    <div class="col-left">
                        <p class="col-top">
                            {{item.productNames}}
                        </p><br/>
                        <p  class="col-bottom"><div class="shop-icon">{{item.shopName}}</div></p>
                    </div>
                    <div class="col-right">
                        <p class="col-top"> {{item.scheduleDate}}</p>
                        <p class="col-bottom">{{item.fromTime}} - {{item.toTime}}</p>
                    </div>
                    <div class="col-last">

                    </div>
                </li>
                <li class="header">
                    <div>
                        <p>{{::i18n.past_reserves}}</p>
                    </div>
                </li>
                <li  class="row-item"   ng-click="fn.display(item)" ng-repeat="item in pastAppointment">
                    <div class="col-left">
                        <p class="col-top">
                                {{item.productNames}}
                        </p><br/>
                        <p  class="col-bottom"><div class="shop-icon">{{item.shopName}}</div></p>
                    </div>
                    <div class="col-right">
                        <p class="col-top"> {{item.scheduleDate}}</p>
                        <p class="col-bottom">{{item.fromTime}} - {{item.toTime}}</p>
                    </div>
                    <div class="col-last">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>