<div id="selectTime" ng-click="fn.hideDatePicker()">
    <div class="form_header">
        <table width="100%">
        <tr>
            <td>
                <button class="btn-history" ng-click="fn.showHistory()">

                </button>
            <td>
            <td width="100%">
                <div class="title posrelative w100" >
                    <p class="ellipsis"><span>{{shopInfo.shopName}}</span></p>
                </div>
            </td>
            <td>
                <div class="pdr10">
                    <button ng-class="{'btn-confirm2 btn-active': activeButtonNextStep1,'btn-confirm2 btn-disable': !activeButtonNextStep1}"
                            ng-click="fn.gotoCustomerInfoOrConfirmStep()">
                        <span>{{::i18n.next}}</span>
                    </button>
                </div>
            </td>
        </tr>
        </table>


    </div>
    <div class="form_content hideScroll">
        <div class="dates">
            <div

                 ng-class="{'pre':showPreDate,'pre-disable': !showPreDate }"
                 ng-click="fn.previousDate()"></div>
            <div class="current" ng-click="fn.showDatePicker($event)">
                <input type="text" id="scheduleDate" ng-model="scheduleDate" style="display: none">
                <p><span> {{dateOfMonth}}</span></p>
                <p><span> {{displayDate}}</span></p>
            </div>
            <div
                 ng-class="{'next':showNextDate,'next-disable': !showNextDate }"
                 ng-click="fn.nextDate()"></div>
        </div>
        <div class="detail" >
            <div class="error"  ng-show="shopInfo.dayOff"><p><span>
                {{::i18n.msg_shop_close_on_date}}
            </span></p>
            </div>
            <table width="100%" class="timeline"  ng-show="!shopInfo.dayOff" ng-column-scale>
                <thead>
                <tr>
                    <th class="products col-xs-4 {{headerProductClass}} ">
                        <div class="circle">1</div> <div class="text">{{::i18n.label_product}}</div>
                    </th>
                    <th class="employees col-xs-4 arrow {{headerEmployeeClass}}">
                        <div class="circle">2</div> <div class="text">{{::i18n.label_employee}}</div>
                    </th>
                    <th class="times col-xs-4 arrow {{headerTimeClass}}">
                        <div class="circle">3</div> <div class="text">{{::i18n.label_time}}</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td valign="top" class="category products">
                        <div id="divProducts" class="container" sp-fine-tune-scroll="">
                            <ul>
                                <li ng-class="{'disable': item.disable,'active': item.active}" ng-repeat="item in products">
                                    <div data-id="{{item.id}}"
                                         ng-click="fn.selectProduct($event, item)">
                                        <p class="top">{{item.productName}}</p>

                                        <p class="bottom"><i>({{::i18n.label_icon_monney}}{{item.price}})</i></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td valign="top" class="category employees">
                        <div id="divEmployees" class="container">
                            <ul>
                                <li  ng-class="{'dayOff': item.dayOff,'disable': item.disable,'active': item.active,
                                                'hide': !item.anyone && !shopInfo.allowRequestStaff}"
                                     ng-repeat="item in employeeWorkingTimes">
                                    <div data-id="{{item.id}}" ng-click="fn.selectEmployee($event, item)">
                                        <p class="center"><span>{{item.fullName}}</span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td valign="top" class="times">
                        <div  id="divTimes" class="time_line" ng-time-line sp-fine-tune-scroll=""></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>