
<div id="searchPage" class="mobile-user">
    <div class="form_header">
        <div class="pdt8 pdl5 col-xs-3">
            <button  ng-click="showHistory()" class="btn-history">
            </button>
        </div>
        <div class="title col-xs-6">
            <p><span>{{::i18n.title_select_store}}</span></p>
        </div>
    </div>
    <div class="form_content">
        <div class="container">
            <ul class="list">
                <li ng-repeat="item in shops">
                    <div class="left w100">
                        <p><a ng-href="#/m/shopper/select/{{item.shopId}}">{{item.shopName}}</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>