<div class="mobile-user" ng-show="error">
    <div ng-template-url="../templates/user-mobile/error.html"></div>
</div>
<div class="mobile-user" ng-show="!error">
    <div ng-wizard="currentStep">
        <div wizard-step="{{steps.selectTime}}" >
            <div ng-template-url="../templates/user-mobile/select_time.html"></div>
        </div>
        <div wizard-step="{{steps.customerInfo}}">
            <div ng-template-url="../templates/user-mobile/customer_info.html"></div>
        </div>
        <div wizard-step="{{steps.confirm}}">
            <div ng-template-url="../templates/user-mobile/confirm.html"></div>
        </div>
    </div>
</div>