<li data-time="" ng-emphasize-hour ng-time-line-selecting>
    <div class="arrow_right"></div>
    <div class="arrow_top"></div>
    <div class="time_text"></div>
    <div class="horizontal_line"></div>
</li>