.appointments_list_container {
  .body_header {
    position: relative;
    z-index: 99;
    background-color: white;
    padding-bottom: 12px;
    border-bottom: 1px solid @bright-gray-color;
  }

  .day_list {
    .font-helvetica-light();
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 2;
    line-height: 22px;

    li {
      display: inline-block;
      margin-left: -6px;
      width: 13.8%;
      text-align: center;
    }

    li.active {
      .date_of_month {
        .text-white();
        display: inline-block;
        height: 22px;
        width: 22px;
        line-height: 22px;
        -moz-border-radius: 22px;
        -webkit-border-radius: 22px;
        border-radius: 22px;
        background-color: @black-gray-color;
        text-align: center;
      }
    }

    li.today {
      .text-orange();
    }

    li.today.active {
      .date_of_month {
        background-color: @orange-color;
      }
    }

    li:first-child {
      margin-left: 3%;
    }

    li:last-child {
      margin-right: 3%;
    }
  }

  .week_days {
    color: @light-black;

    .bx-viewport {
      height: 50px;
    }

    .bx-wrapper {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      background: none;
    }
  }

  .btn_group {
    display: inline-block;
    width: 100%;
    height: 44px;

    .date {
      .padding-side-none();
      .text-size(17px);
      color: @light-black;
      height: 100%;

      p {
        margin: 0;
        line-height: 44px;
        text-align: center;
      }
    }

    button {
      padding: 0;
      img {
        width: 100%;
        height: auto;
      }
    }

    .today {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      height: 100%;
      line-height: 44px;
      .text-orange();
    }

    .add_new {
      padding-top: 8px;
      padding-right: 10px;
      height: 100%;
      text-align: right;

      button {
        width: 26px;
      }
    }

    .menu_signout {
      display: inline-block;
      height: 100%;
      padding-top: 6px;
      padding-left: 10px;
      padding-right: 5px;

      .icon {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 26px;
        margin: auto;
        padding: 5px;
        overflow: hidden;
        color: @orange-color;
        font-size: 14px;
        white-space: nowrap;

        span {
          vertical-align: middle;
        }

        img {
          width: auto;
          height: 80%;
          margin-right: 5px;
        }
      }
    }

  }

  .scroll_wrapper {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 107px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .date_anchor {
    .text-orange();
    .font-helvetica-light();
    height: 29px;
    background-color: #fff7d8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    p {
      width: 100%;
      line-height: 24px;
      white-space: nowrap;
      .text_overflow_hidden();
    }

    img {
      height: 40px;
      position: absolute;
      top: -8px;
      right: 17px;
      z-index: 1;
    }

  }

  .extra_space {
    width: 100%;
    border-bottom: 1px solid @bright-gray-color;
    border-bottom: 1px solid;
    background-color: @light-gray-color;
  }

  .date_anchor_sticky {
    .date_anchor();
    border-top: none;
    height: 0;
    position: relative;
    z-index: 10;
  }

  .appointment_details {
    border-bottom: 1px solid @bright-gray-color;
    position: relative;

    p {
      height: 22px;
      line-height: 22px;
      overflow: hidden;
    }

    .time {
      .font-helvetica-light();
      width: 27%;
      height: 100%;
      display: inline-block;
      padding-left: 26px;
      vertical-align: top;

      > p:first-child {
        margin-top: 11px;
      }

      > p:last-child {
        margin-bottom: 11px;
      }
    }

    .content {
      .font-helvetica-bold();
      width: 71%;
      display: inline-block;
      padding: 15px;
      border-left: 1px solid @bright-gray-color;

      p {
        .text_overflow_hidden();
      }

      .customer_name {
        .text-size(17px);
        height: 22px;
        max-width: 75%;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }

      .services {
        line-height: 22px;
        color: @black-gray-color;
        height: 22px;
        > div {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        > div:first-child {
          max-width: 77%;
        }

        > div:nth-child(2) {
          max-width: 22%;
        }
      }
    }

    .cancel_appointment {
      display: none;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      width: 95px;
      background-color: #fff;

      .table_display {
        height: 100%;
        width: 100%;
        display: table;
      }

      .table_cell {
        display: table-cell;
        vertical-align: bottom;
      }

      p {
        line-height: 42px;
        height: 42px;
        width: 100%;
        text-align: center;
        overflow-x: visible;
        color: white;
        font-size: 14px;
        display: inline-block;
        vertical-align: bottom;
        background-color: @red-color;
      }
    }

    .required {
      position: absolute;
      top: 30px;
      right: 10px;
      height: 25px;
      width: 25px;
      text-align: center;
      line-height: 30px;
      background-color: #f44;
      border-radius: 13px;

      p {
        line-height: 25px;
        height: 100%;
        color: white;
        text-align: center;
      }
    }
  }

  .appointment_details.approved {
    .content {
      border-left: 2px solid @orange-color;
    }
  }

  .appointment_details.unapproved {
    .content {
      border-left: 2px solid @dark-pink-color;
    }
  }

  .appointment_details.at_store {
    .content {
      border-left: 2px solid @extreme-black-gray;
    }
  }

  .appointment_details:last-child {

    border-bottom: none;
  }

  .appointment_list:last-child {
    .appointment_details:last-child {
      border-bottom: 1px solid @bright-gray-color;
    }
  }

  .appointment_list.no_appointment {
    height: 35px;
    background-color: @light-gray-color;
  }

  .appointment_list.no_appointment:first-child:last-child {
    height: 95px;
    background-color: white;
  }
}
