.text-size (@val) {
  font-size: @val;
}

.text-color(@val) {
  color: @val;
}

.text-size-24pt {
  font-size: 24pt;
}

.text-size-20pt {
  font-size: 20pt;
}

.text-size-18pt {
  font-size: 18pt;
}

.text-size-17pt {
  font-size: 17pt;
}

.text-size-15pt {
  font-size: 15pt;
}

.text-size-14pt {
  font-size: 14pt;
}

.text-size-13pt {
  font-size: 13pt;
}

.text-size-12pt {
  font-size: 12pt;
}

.text-size-11pt {
  font-size: 11pt;
}

.text-green {
  color: @green-color;
}

.text-white {
  color: #ffffff;
}

.text-orange {
  color: @orange-color;
}

.text_orange {
  color: @orange-color;
}

.text_light_orange {
  color: @light-orange;
}

.text_blue_green {
  color: @blue-green;
}

.text_extreme_pink {
  color: @extreme-pink;
}

.text_blue {
  color: @blue;
}

.text_brown {
  color: @brown;
}

.text-gray {
  color: @gray-color;
}

.text_black_gray {
  color: @black-gray-color;
}

.text-red {
  color: @red-color;
}

.text-light-black {
  color: @light-black;
}

.font-helvetica {
  font-family: "HELVETICA NEUE", Arial, sans-serif;
}

.font-helvetica-bold {
  font-family: "HELVETICA NEUE BOLD", Arial, sans-serif;
}

.font-helvetica-italic {
  font-family: "HELVETICA NEUE ITALIC", Arial, sans-serif;
}

.font-helvetica-light {
  font-family: "HELVETICA NEUE LIGHT", Arial, sans-serif;
}

.font-helvetica-light-italic {
  font-family: "HELVETICA NEUE LIGHT ITALIC", Arial, sans-serif;
}

.padding-side-none {
  padding-left: 0;
  padding-right: 0;
}

.non-padding {
  padding: 0 0 0 0;
}

.orange-theme {
  background-color: @bright-orange-color;
  color: @dark-orange-color;
}

.pink-theme {
  background-color: @bright-pink-color;
  color: @dark-pink-color;
}

.gray-theme {
  background-color: @bright-gray-color;
  color: @dark-gray-color;
}

.pos_relative {
  position: relative;
}

.pos_absolute {
  position: absolute;
}

.background_white {
  background-color: #ffffff;
}

.color-orange {
  color: #f6921e;
}

.line-height-31 {
  line-height: 31px !important;
}

.line-height-62 {
  line-height: 62px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pd10 {
  padding: 10px;
}

.pdr10 {
  padding-right: 10px;
}

.pdt8 {
  padding-top: 8px !important;
}

.pdl5 {
  padding-left: 5px !important;
}

.pdtb5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pdt5 {
  padding-top: 5px !important;
}

.l6 {
  left: 10px !important;
}

.h85 {
  height: 85% !important;
}

.w100 {
  width: 100% !important;
}

.w64 {
  width: 100px !important;
}

.posrelative {
  position: relative !important;
}

.hideScroll {
  overflow: hidden !important;
}

.text_overflow_hidden {
  text-overflow: ellipsis;
  overflow: hidden;
}

.form_header {
  width: 100%;
  height: 44px;
  background-color: #FFAF00;
  button {
    img {
      height: 44px;
    }
  }

  a {
    text-decoration: none;
    img {
      height: 44px;
    }
  }

  .title {
    color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    height: 100%;
  }

  p {
    line-height: 40px;
  }
}

.form_content {
  .font-helvetica-light();
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 44px;
  bottom: 0;
  right: 0;
  left: 0;
  .list {
    padding: 0;
    width: 100%;

    li {
      cursor: pointer;
      list-style: none;
      border-bottom: 1px solid #E2E2E2;
      display: block;
      width: 100%;
      height: 44px;
    }

  }

  .list .active {
    background-color: @bright-orange-color;
    color: #CCCCCC;
  }

  .list .disable p {
    color: #CCCCCC;
  }

  .list p {
    color: #333333;
    font-weight: inherit;
    text-decoration: none;
  }

  .left {
    width: 59%;
    display: inline-block;
    height: 44px;
  }

  .left p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10px;
    line-height: 44px;
  }

  .right {
    display: inline-block;
    width: 39%;
    height: 44px;
  }

  .right p {
    overflow: hidden;
    text-align: right;
    padding-right: 10px;
    line-height: 44px;
  }
  .right label {
    font-size: inherit;
    font-weight: inherit;
    color: #CCCCCC;
    .font-helvetica-light();
  }

  .regular-checkbox {
    width: 32px;
    height: 32px;
    -webkit-appearance: none;
    padding-top: 30px;
    padding-left: 22px;
    display: inline-block;
    position: relative;
    margin: 0px -1px -10px 0;
    background: url(../images/merchant/Check.png) center no-repeat;
    background-size: 44px 44px;
    outline: none;
    border: none;
  }
  .regular-checkbox:active, .regular-checkbox:checked:active {
    outline: none;
    border: none;
  }

  .regular-checkbox:checked {
    outline: none;
    border: none;
    background: url(../images/merchant/CheckSel.png) center no-repeat;
    background-size: 44px 44px;
  }

  .form {
    .rownote {
      border-bottom: 0px solid #E2E2E2 !important;
    }

    .row {

      margin-left: 0px;
      margin-right: 0px;
      border-bottom: 1px solid #E2E2E2;
      .col-xs-3 {
        p {
          padding-left: 0px;
        }
      }

      .col-xs-7 {
        padding-left: 34px;
      }

      .col-xs-2 {
        text-align: left;
        padding-left: 0;
      }

      .middle {
        top: 5px;
      }
      .col-xs-9 {
        padding: 21px 34px;

        .btn {
          padding: 0;
        }
      }

    }

    .note {
      line-height: normal;
    }

    .form-label {
      color: #cccccc;
    }
    .row .form-input {
      border: 0px;
      width: 100%;
      margin: 0px;
      background-color: inherit;
      box-shadow: none;
    }
    .form-select {
      background-color: inherit;
      border: 0;
      padding-left: 0;
    }

    .row .form-textarea {
      border: 0px;
      width: 100%;
      height: 100%;
      margin: 0px;
      background-color: inherit;
      box-shadow: none;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
    }
    .btn-edit {
      background: url(../images/merchant/btn_Edit.png) center no-repeat;
      background-size: 22px 22px;
      width: 22px;
      height: 22px;
    }
  }
}

.btn-confirm {
  border-radius: 44px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  height: 32px;
  width: 83px;
  margin-top: 6px;
  position: absolute;
  right: 5px;
}

.btn-confirm span {
  text-align: center !important;
  vertical-align: middle !important;
}

.popup-modal {
  height: 150px;
  width: 100%;
  .header {
    background-color: #FFAF00;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .logo {
  }
  .title {
    color: #fff;
    text-align: center;
    padding-top: 5px;
  }
  .content {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    vertical-align: middle;
    text-align: center;
    color: #6dc900;
    font-weight: bold;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.sidr-open {
  .overlay {
    display: block;
  }
}