.picker {
  background-color: #ffffff;

  div:active, div:focus, div:hover {
    outline: none;
    border: none;
  }

  .picker__table {
    margin-bottom: 0;
    margin-top: 0;
  }

  @media (min-height: 33.875em) {
    .picker__table {
      margin-bottom: 0;
    }
  }

  .picker__header {
    display: none;
  }

  .picker__input--active, .picker__input--target {
    border: none;
    outline: none;
  }

  table {
    .font-helvetica-light();

    thead {
      .picker__weekday {
        font-size: 1em;
        text-align: center;
      }
    }

    td {
      text-align: center;
      .picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover {
        background: @orange-color;
        color: #fff;
        border-radius: 20px;
        width: 27px;
        height: 26px;
        display: inline-block;
        padding: 3px 1px 0px 0px;
      }

      .picker__day--today:before {
        border-top: .5em solid @orange-color;
      }
    }
  }
}