@bright-orange-color: #fff7d8;
@light-orange: #ffba00;
@orange-color: #f6921e;
@dark-orange-color: #e17d00;

@extreme-bright-gray: #f8f8f8;
@light-gray-color: #eeeeee;
@bright-gray-color: #dddddd;
@gray-color: #cccccc;
@dark-gray-color: #aaaaaa;
@black-gray-color: #999999;
@extreme-black-gray: #666666;

@light-black: #555555;
@black: #333;

@green-color: #6dc900;
@blue-green: #00d994;

@bright-pink-color: #ffe1e1;
@dark-pink-color: #ff64c8;
@extreme-pink: #d735ff;

@red-color: #ff4444;

@white: #ffffff;

@blue: #00ccff;

@brown : #e57b72;
