@sideBarWidth : 250px;

.sidr-open {
  top: 0;
  bottom: 0;
}

.sidr {
  position: absolute !important;
  width: @sideBarWidth;
  padding-bottom: 50px;
  bottom: 0;
  height: initial;

  .emp_fil_cont {
    position: relative;
    height: 100%;
    background-color: @light-gray-color;

    ul {
      margin: 0;
      border-bottom: 1px solid @gray-color;
    }

    li {
      padding: 0 15px;
      border-top: 1px solid @gray-color;
      border-bottom: none;
    }

    li.active {
      background-color: @bright-orange-color;
      color: @orange-color;
    }

    .employeeList {
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .signout {
      position: absolute;
      bottom: -50px;
      background-color: #fff;
      width: 100%;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;

      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-right: 15px;

        img {
          width: 100%;
          height: auto;
        }
      }

    }
  }
}

