@import "common.less";
@import "definitions.less";
@import "appointment.less";
@import "new_appointment.less";
@import "datetime_picker.less";
@import "login/login.less";
@import "plugins/toastr.config.less";
@import "loader.less";
@import "popup.less";
@import "employeee_filter_sidebar.less";

#container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

#ng-view {
  width: 100%;
  height: 100%;
}

body {
  .font-helvetica();
  .text-size(14px);
  line-height: 1;
}

button:focus,button:active,button:hover, a:focus, a:hover {
  outline: none !important;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

p {
  margin: 0;
}

input[type="checkbox"]:focus {
  outline: none;
  border: none;
}

input[type="checkbox"]:active {
  outline: none;
  border: none;
}

.error {
  padding: 20px;
  color: red;
  text-align: center;
}
