.new_appointment {
  .font-helvetica-light();

  .body_header {
    width: 100%;
    height: 44px;
    background-color: #FFAF00;

    .forward {
      text-align: right;
      img {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
      }
    }

    button {
      img {
        height: 44px;
      }
    }

    a {
      text-decoration: none;
      display: block;
      height: 44px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 11px;
      img {
        height: 50%;
        width: auto;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .title {
      color: #FFFFFF;
      vertical-align: middle;
      text-align: center;
      height: 100%;
    }

    p {
      line-height: 44px;
    }
  }

  .content_title {
    height: 28px;

    ul {
      list-style-type: none;
      width: 100%;
      padding: 0;
      margin: 0;
      letter-spacing: -4px;

      li {
        position: relative;
        position: relative;
        display: inline-block;
        width: 33%;
        text-align: center;
        line-height: 26px;
        background: @light-gray-color;
        color: @black-gray-color;
        border-bottom: 1px solid @bright-gray-color;
      }

      li:before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 2px;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-right: 0 solid transparent;
        border-left: 13px solid transparent;
        -webkit-border-image: url(../images/merchant/arrow.png) 20 stretch;
        -o-border-image: url(../images/merchant/arrow.png) 20 stretch;
        border-image: url(../images/merchant/arrow.png) 20 stretch
      }

      li:first-child:before {
        display: none;
      }
    }
  }

  .body_content {
    .font-helvetica-light();
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 49px;
    bottom: 5px;
    right: 0;
    left: 0;

    .list {
      padding: 0;
      width: 100%;

      li {
        cursor: pointer;
        list-style: none;
        border-bottom: 1px solid #E2E2E2;
        display: block;
        width: 100%;
        height: 72px;
        padding: 5px 10px;
        vertical-align: bottom;

        .table_display {
          display: table;
          height: 100%;
        }

        .table_cell_display {
          display: table-cell;
          vertical-align: middle;
        }
      }

    }

    .list {

      li.active {
        background: @bright-orange-color;
        color: @orange-color;
      }

    }

    .list .disable p {
      color: #CCCCCC;
    }

    .list p {
      font-weight: inherit;
      text-decoration: none;
      padding: 5px 1px;
      padding-left: 10px;
      padding-right: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }

  .body_content.view_only {
    top: 66px;
  }

  .appointment_schedule {
    margin: 0;
    padding: 0;
    overflow: hidden;

    .body_content {
      top: 72px
    }

    .body_content.is_hot_pepper {
      top: 94px;
    }
  }

  .view_only_message {
    width: 100%;
    height: 22px;
    color: #ffffff;
    background-color: @dark-gray-color;

    p {
      .text-size-11pt();
      text-align: center;
      line-height: 22px;
    }
  }

  .appt_hot_pepper {
    .view_only_message();
  }

  .select_service, .select_staff, .select_resource {
    display: inline-block;
    width: 32.5%;
    height: 98%;
    margin: 0 -4px 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .select_resource {
    .list {

      li {
        max-height: 56px;
        height: auto;
        overflow: hidden;

        p {
          padding-left: 10px;
          padding-right: 10px;
        }

        .resource_name {

        }
      }
    }
  }

  .select_service {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;

    .list {

      li {

        p {
          padding: 0;
          max-height: 56px;
          overflow: hidden;
        }

        span {
          display: inline-block;
          vertical-align: middle;
        }

        .service_name {
          overflow: hidden;
          max-height: 28px;
        }
      }

      li.disable {
        color: @bright-gray-color;
        background: none;
      }
    }

  }

  .select_staff {

    .list {

      li {
        height: 36px;
        overflow: hidden;
      }

      li.active {
        height: 72px;
      }
    }

    input {
      width: 32px;
      height: 32px;
      -webkit-appearance: none;
      padding-top: 30px;
      padding-left: 22px;
      display: inline-block;
      position: relative;
      margin: 5px -1px -10px 0;
      background: url(../images/merchant/checkbox_unchecked.png) center no-repeat;
      background-size: 44px 44px;
      outline: none;
      border: none;
    }
    input:active, input[type=checkbox]:checked:active {
      outline: none;
      border: none;
    }

    input:checked {
      outline: none;
      border: none;
      background: url(../images/merchant/checkbox_checked.png) center no-repeat;
      background-size: 44px 44px;
    }

    .below {

      > span {
        color: @red-color;
      }
    }
  }

  .select_time {

    .body_content {
      background-color: @light-gray-color;
    }

    .time_grid {
      border-top: 1px solid @bright-gray-color;
      border-right: 1px solid @bright-gray-color;
      background-color: #FFFFFF;
      position: absolute;
      bottom: 0;
      top: 88px;
      right: 0;
      left: 0;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-top: 30px;

      .time_cell {
        width: 100%;
        //border-left: 1px solid @bright-gray-color;
        display: inline-block;
        text-align: right;
        height: 28px;

        p {
          display: inline-block;
          width: 80%;
          position: relative;
          border-bottom: 1px solid @bright-gray-color;
          height: 28px;
          line-height: 28px;

          span {
            position: absolute;
            top: -20px;
            left: -44px;
          }
        }
      }

      .time_cell.selected {
        .text-color(@orange-color);

        p {
          background-color: @bright-orange-color;

          span {
            display: inline-block !important;
          }
        }
      }

      .time_cell.selected + div {
        color: @orange-color;

        span {
          display: inline-block !important;
        }
      }

      .time_cell.selected.unavailable {
        .text-color(@gray-color);

        p {
          background-color: @bright-orange-color;
        }
      }

      .time_cell.unavailable {
        color: @gray-color;
        p {
          background-color: @extreme-bright-gray;
        }
      }

      .time_cell:last-child {
        border-bottom: none;

        p {
          height: 1px;
        }
      }

      .time_cell:first-child {
        p {
          border-top: 1px solid @bright-gray-color;
        }

      }

      .time_cell:nth-child(2n) {

        p {
          span {
            display: none;
          }
        }
      }
    }

    .date_display {
      .text-size-14pt();
      height: 44px;
      color: @orange-color;
      background-color: white;

      .btn_pre {
        text-align: right;
      }

      .btn_next {
        text-align: left;
      }

      p {
        line-height: 44px;
        text-align: center;
      }

      img {
        width: 44px;
        height: auto;
      }

      .col-xs-3, .col-xs-6 {
        padding: 0;
      }

      .col-xs-6 {
        margin-left: -5px;
        margin-right: -5px;
      }
    }

    .time_grid.day_off {
      background-color: transparent;
      border: none;
      .wrapper {
        display: table;
        height: 100%;
      }

      .content {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
      }

      .image_wrapper {
        margin-left: 20%;
        margin-right: 20%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .time_grid.no_schedule {
      background-color: transparent;
      border: none;
      .wrapper {
        display: table;
        height: 100%;
      }

      .content {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
      }

      .no_schedule_icon {
        margin-left: 25%;
        margin-right: 25%;

        img {
          width: 100%;
          height: auto;
        }
      }

      .notice {
        height: 34px;
        margin: 10px 0;
        text-align: center;
      }

      .message {
        .text-white();
        .font-helvetica();
        background-color: @gray-color;
        display: inline-block;
        height: 100%;
        line-height: 12px;
        padding: 10px;
        border-radius: 3px;
        margin-left: 24px;
      }

      .emotion_symbol {
        display: inline-block;
        height: 100%;
        width: 30px;

        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  .fill_details {

    .product_info {
      .text-orange();
    }

    .row {
      margin-left: 0px;
      margin-right: 0px;
      border-bottom: 1px solid #E2E2E2;
      .col-xs-3 {
        > p {
          white-space: nowrap;
          line-height: 62px;
          min-width: 65px;
          padding-left: 0px;
          .text_overflow_hidden();
        }
      }

      .col-xs-7 {
        padding-left: 34px;
        padding-bottom: 10px;
        padding-top: 10px;
        > p {
          white-space: nowrap;
          line-height: 22px;
          .text_overflow_hidden();
        }
      }

      .col-xs-2 {
        padding-top: 20px;
        text-align: left;
        padding-left: 0;
      }

      .col-xs-9 {
        padding: 21px 34px;

        .btn {
          padding: 0;
        }
      }

    }

    .note {
      line-height: normal;
    }

    .form-label {
      color: #cccccc;
    }

    .row .form-input {
      border: 0px;
      width: 100%;
      margin: 0px;
      background-color: inherit;
      box-shadow: none;
    }

    .form-select {
      background-color: inherit;
      border: 0;
      padding-left: 0;
    }

    .row .form-textarea {
      border: 0px;
      width: 100%;
      height: 100%;
      margin: 0px;
      background-color: inherit;
      box-shadow: none;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
    }

    .btn-edit {
      background: url(../images/merchant/btn_Edit.png) center no-repeat;
      background-size: 22px 22px;
      width: 22px;
      height: 22px;
    }

    .row {
      .col-xs-9, .col-xs-8 {
        padding: 10px 0 10px 5px;

        > p, label {
          line-height: 22px;
        }
      }

      .col-xs-3, .col-xs-4 {
        padding-right: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        > p {
          line-height: 22px;
        }
      }

    }

    .row:nth-child(2) {
      .col-xs-2 {
        padding-top: 10px;
      }

    }

    .service_resources {
      height: 44px;

      .col-xs-8 {
        height: 100%;
        padding-left: 0;

        p, label {
          line-height: 22px;
          font-weight: normal;
        }

        p.selected {
          .text-orange();
        }

        p.selected.viewed_only {
          color: inherit;
        }
      }

      div.col-xs-4 {
        height: 100%;
        padding-top: 0;
      }

      input {
        width: 32px;
        height: 32px;
        -webkit-appearance: none;
        padding-top: 30px;
        padding-left: 22px;
        display: inline-block;
        position: relative;
        margin: 5px -1px -10px 0;
        background: url(../images/merchant/checkbox_unchecked.png) center no-repeat;
        background-size: 44px 44px;
        outline: none;
        border: none;
      }
      input:active, input[type=checkbox]:checked:active {
        outline: none;
        border: none;
      }

      input:checked {
        outline: none;
        border: none;
        background: url(../images/merchant/checkbox_checked.png) center no-repeat;
        background-size: 44px 44px;
      }

      input.viewed_only:checked {
        outline: none;
        border: none;
        background: url(../images/merchant/checkbox_checked_gray.png) center no-repeat;
        background-size: 44px 44px;
      }
    }

    .service_resources.row:last-child {
      border: none;
    }

    .sources {
      .service_resources();

      input {
        background: url("../images/merchant/Check.png") center no-repeat;
        background-size: 44px 44px;
      }

      input:checked {
        background: url("../images/merchant/CheckSel.png") center no-repeat;
        background-size: 44px 44px;
      }

      > .col-xs-4 {
        padding-right: 16px !important;
      }
    }

    .sources:last-child {
      border: none;
    }

    .panel-group {
      margin: 0px;
    }

    .selected_channel {
      > p {
        position: relative;
        height: 22px;
        line-height: 22px;
        overflow-x: hidden;
        text-overflow: clip;
        width: 100%;
        padding-right: 40px;

        .arrow {
          position: absolute;
          top: -3px;
          right: 14%;
        }
      }
    }

    .panel {
      border: none;
    }

    .panel-heading {
      background: none;
      border: none;
      padding-right: 32px;
      padding-left: 0;
    }

    .panel-body {
      padding-left: 0;

      .col-xs-4 {
        text-align: right;
      }
    }

    .glyphicon {
      //top: -15px;
    }

    .tag {
      .text-white();
      background-color: @gray-color;
      padding: 0 16px 0 16px !important;
      margin: 3px 0 3px 0 !important;
    }

    .cancel, .edit {
      .text-white();
      text-align: center;
      height: 44px;

      img {
        height: 16px;
        width: auto;
        display: inline;
        vertical-align: middle;
      }

      p {
        line-height: 44px;
      }
    }

    .edit {
      background-color: @orange-color;
    }

    .cancel {
      background-color: @red-color;
    }

    .required {
      display: inline-block;
      vertical-align: bottom;
      height: 22px;
      width: 22px;
      text-align: center;
      line-height: 22px;
      background-color: #f44;
      border-radius: 12px;

      p {
        line-height: 22px !important;
        height: 100%;
        color: white;
        text-align: center;
      }
    }

    .customer_name {
      display: inline-block;
      max-width: 75% !important;
      vertical-align: bottom;
    }

    .status {
      padding: 8px 5px 8px 5px;
      padding: 8px 5px 14px 5px;
      background-color: @light-gray-color;
      text-align: center;

      .status_item {
        padding-right: 3px !important;
        padding-left: 5px !important;
        width: 33.33%;
      }
      .tag {
        text-transform: capitalize;
        width: 100%;
        height: 31px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        height: 44px;
      }
      .tag.approved {
        background: @white;
        color: @orange-color;
        border: 2px solid @orange-color;
      }

      .tag.unapproved {
        background: @white;
        color: @dark-pink-color;
        border: 2px solid @dark-pink-color;
      }

      .tag.at_store {
        background: @white;
        color: @green-color;
        border: 2px solid @green-color;
      }

      .tag.selected {
        background-color: @orange-color;
        color: #fff;
        border: none;
      }

      .tag.viewed_only {
        background: @white;
        color: @black-gray-color;
        border: 2px solid @black-gray-color;
      }

      .tag.approved.selected {
        color: @white;
        background: @orange-color;
        border: 2px solid @orange-color;
      }

      .tag.unapproved.selected {
        color: @white;
        background: @dark-pink-color;
        border: 2px solid @dark-pink-color;
      }

      .tag.at_store.selected {
        color: @white;
        background: @green-color;
        border: 2px solid @green-color;
      }

      .tag.selected.viewed_only {
        background-color: @black-gray-color;
        border: none;
      }
    }

    .btn-toolbar {
      padding: 8px 0px 0 0;

      .col-xs-6 {
        padding-left: 0;
        padding-right: 8px;
        margin-left: 0;

        button {
          color: @black-gray-color;
          background-color: #fff;
          width: 100%;
          padding: 0 3px 0 3px !important;
          margin: 0 0 8px 0 !important;
          height: 27px;
          border: 2px solid @black-gray-color;
          overflow: hidden;
          white-space: normal;
        }

        button.selected {
          background-color: @orange-color;
          color: #fff;
          border: none;
        }

        button.selected.viewed_only {
          background-color: @black-gray-color;
        }
      }
    }

    .view_only_tag {
      >div {
        display: inline-block;
        vertical-align: middle;
      }
    }

  }

  .fill_details.viewed_only {
    color: @black-gray-color;

    .product_info {
      .text_black_gray();
    }
  }
}

