.popup_back {
  z-index: 1000000;
}

.popup_cont {
  position: fixed;
  background: transparent;
  z-index: 1000001;
  left: 0 !important;
  right: 0 !important;

  .popup {
    background: transparent;
    height: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

  .popup_content {
    height: 100%;
  }

  div.popup {
    box-shadow: none;
  }
  .popup_close {
    display: none;
  }
}

.modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.cancel_popup {
  .text-light-black();
  height: 100%;

  .popup_header {
    img {
      width: 100%;
      height: auto;
    }
  }

  .popup_body {
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

  }

  .btn-group {
    width: 100%;
    margin-left: 0;

    button {
      .text-size(16pt);
      border-radius: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      height: 44px;
      border-color: @bright-gray-color;
    }

    button:first-child {
      .text-gray();
      border-left: none;
    }

    button:last-child {
      .text-orange();
      border-right: none;
    }
  }

  .btn {
    margin-left: 0;
  }

  .message {
    padding: 15px 20px;
    line-height: 1.4;
    p {
      text-align: center;
    }
    input {
      vertical-align: middle;
      width: 32px;
      height: 32px;
      -webkit-appearance: none;
      padding-top: 30px;
      padding-left: 22px;
      display: inline-block;
      position: relative;
      background: url(../images/merchant/checkbox_unchecked.png) center no-repeat;
      background-size: 44px 44px;
      outline: none;
      border: none;
    }

    input:checked {
      outline: none;
      border: none;
      background: url(../images/merchant/checkbox_checked.png) center no-repeat;
      background-size: 44px 44px;
    }

    label {
      max-width: 80%;
      vertical-align: middle;
      color: @red-color;
      margin-bottom: 0;
      text-align: left;
    }
  }

}

.success_popup {
  .text-light-black();
  height: 100%;

  .popup_header {
    img {
      width: 100%;
      height: auto;
    }
  }

  .popup_body {
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 1px;

    .message {
      padding-bottom: 20px;
      padding-top: 20px;
      text-align: center;

      P {
        .text-size-17pt();
        .text-green();
        .font-helvetica-bold();
      }
    }

    .check {
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/*----- Menu Outline -----*/
.menu-wrap {
  width:100%;
  box-shadow:0px 1px 3px rgba(0,0,0,0.2);
  background:#3e3436;
}

.menu {
  width:1000px;
  margin:0px auto;
}

.menu li {
  margin:0px;
  list-style:none;
  font-family:'Ek Mukta';
}

.menu a {
  transition:all linear 0.15s;
  color:#919191;
}

.menu li:hover > a, .menu .current-item > a {
  text-decoration:none;
  color:#be5b70;
}

.menu .arrow {
  font-size:11px;
  line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
  float:left;
  display:inline-block;
  position:relative;
  font-size:19px;
}

.menu > ul > li > a {
  padding:10px 40px;
  display:inline-block;
  text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
  background:#2e2728;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
  z-index:1;
  opacity:1;
}

.sub-menu {
  width:160%;
  padding:5px 0px;
  position:absolute;
  top:100%;
  left:0px;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  background:#2e2728;
}

.sub-menu li {
  display:block;
  font-size:16px;
}

.sub-menu li a {
  padding:10px 30px;
  display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
  background:#3e3436;
}