
.mobile-user {
  .font-helvetica-light();
  font-size: 12pt;
}

.icon-delete {
  background: url(../images/merchant-mobile/icon_delete.png) left no-repeat;
  background-size: 32px 29px;
  background-position-x: 20px;
  background-color: #EA0000;
}

.icon-edit {
  background: url(../images/merchant-mobile/icon_update.png) left no-repeat;
  background-size: 32px 29px;
  background-position-x: 20px;
  background-color: #FF9A00;
}

.button-bg {

  background-color: #FF9A00;
}

.button {

  border-radius: 44px;
  text-align: center;
  vertical-align: middle;
  height: 32px;
  width: 48%;
  /* background-color: #FFAF00; */
  color: #fff;
  border: 2px solid #fff;
}

.bar_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: #EEEEEE;
  padding-top: 5px;
  padding-left: 5px;
}

.btn-confirm2 {
  border-radius: 44px;
  text-align: center;
  vertical-align: middle;
  height: 32px;
  width: 83px;
}

.btn-back {
  border: none;
  text-align: center;
  vertical-align: middle;
  height: 44px;
  width: 70px;
  background: url(../images/merchant-mobile/btn_back.png) left no-repeat;
  background-size: 44px 44px;
  color: #fff;
  background-position: 0px 0px;
  padding-left: 30px;
  padding-top: 0px;
  white-space: nowrap;
}

.btn-history {
  border: none;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  width: 43px;
  background: url(../images/merchant-mobile/history.png) center no-repeat;
  background-size: 25px 29px;
}

.btn-active {
  border: 2px solid #fff;
  color: #fff;
}

.btn-disable {
  border: 2px solid #ffc94d;
  color: #ffc94d;
}

.btn-confirm2 span {
  text-align: center !important;
  vertical-align: middle !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position: absolute;
  width: 100%;
}

.col-xs-11 p {
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 91%;
  word-spacing: normal;
  white-space: wrap;
  position: absolute;
}

.form_content {

  .rowsmall {
    .col-xs-3 p {
      line-height: 31px !important;
    }
    .col-xs-9 {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }

    .col-xs-2 {
      padding-top: 2px !important;
    }
  }

  .btn-edit-user {
    background: url(../images/merchant-mobile/icon-edit.png) center no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    float: right;
  }

  .dates {
    width: 100%;
    font-weight: bold;
    height: 44px;
    color: #FFAF00;
    text-align: center;
    padding-top: 5px;

    .pre {
      float: left;
      width: 25%;
      background: url(../images/merchant-mobile/btn_pre.png) center no-repeat;
      background-size: 50px 50px;
      height: 38px;

    }
    .pre-disable {
      float: left;
      width: 25%;
      background: url(../images/merchant-mobile/btn_disable_pre.png) center no-repeat;
      background-size: 50px 50px;
      height: 38px;
    }

    .next {
      float: left;
      width: 25%;
      background: url(../images/merchant-mobile/btn_next.png) center no-repeat;
      background-size: 50px 50px;
      height: 38px;
    }
    .next-disable {
      float: left;
      width: 25%;
      background: url(../images/merchant-mobile/btn_disable_next.png) center no-repeat;
      background-size: 50px 50px;
      height: 38px;
    }
    .current {
      width: 50%;
      /* position: absolute; */
      float: left;
    }
  }
  .detail {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .container {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
  }
  .timeline {
    height: 100%;
    max-width: 100%;
    border-bottom: 0px solid #DCDCDC;

    .arrow:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 44px;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 0 solid transparent;
      border-left: 13px solid transparent;
      -webkit-border-image: url(../images/merchant-mobile/arrow.png) 20 stretch;
      -o-border-image: url(../images/merchant-mobile/arrow.png) 20 stretch;
      border-image: url(../images/merchant-mobile/arrow.png) 20 stretch;
    }

    .headerActive .circle {
      background-color: #F6921E;
    }
    .headerActive .text {
      color: #FFAF00;
    }

    .headerGuide .circle {
      background-color: #6DC900;
    }
    .headerGuide .text {
      color: #6DC900;
    }

    .headerDisable .circle {
      background-color: #CCCCCC;
    }
    .headerDisable .text {
      color: #CCCCCC;
    }
    .circle {
      position: absolute;
      top: 12px;
      left: 12px;
      border-radius: 18px;
      background-color: #F6921E;
      width: 20px;
      line-height: 20px;
      color: #fff;
      font-size: 12px;
    }

    .text {
      position: absolute;
      top: 14px;
      left: 36px;
      content: "";
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      width: 100%;
    }
    .col-xs-10 .circle {
      left: 66px !important;
    }
    .col-xs-10 .text {
      left: 96px !important;
    }
    th {
      background-color: #F0F0F0;
      border-bottom: 1px solid #DCDCDC;
      border-top: 1px solid #DCDCDC;
      border-left: 0px solid #DCDCDC;
      height: 44px;
      text-align: center;
      position: relative;
    }
    td {
      border-right: 1px solid #DCDCDC;
      border-bottom: 1px solid #DCDCDC;
    }
    .category {

    }
    .category ul {
      padding-left: 0px;
    }
    .category li {
      cursor: pointer;
      list-style: none;
      border-bottom: 1px solid #E2E2E2;
      display: block;
      width: 100%;
      min-height: 30px;

    }

    .category li p {
      text-align: left;
      padding-left: 10px;
      max-width: 100%;
      word-break: break-word;
      padding-right: 8px;
    }
    .category li p.center {
      margin-top: 9px;
      margin-bottom: 9px;
    }

    .category li p.top {
      margin-top: 5px;
    }

    .category li p.bottom {
      padding-top: 5px;
      margin-bottom: 5px;
    }
    .times {

    }
    .category li div {
      width: 100%;
      height: 100%;
      display: table;
      position: relative;
    }
    .dayOff {
      width: 100%;
      height: 100%;
      color: #CCCCCC;
    }

    .active {
      background-color: #FFF7D9;
      color: #f6921e;
    }

    .disable p {
      color: #CCCCCC;
    }
  }

  .item {
    padding-top: 20px;
    width: 100%;
    height: 64px;
  }

  .itemnote {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
  }

}

.input-text {
  border-radius: 8px;
  width: 100%;
  height: 41px;
  border: 1px solid #cccccc;
  text-shadow: none;
  box-shadow: none;
}

.input-textarea {
  border-radius: 8px;
  width: 100%;
  border: 1px solid #ccc;
  text-shadow: none;
  box-shadow: none;
  overflow: auto;
  resize: vertical;
  height: 90px;
}

.icon-msg {
  background: url("../images/merchant-mobile/msg.png") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
  padding-left: 27px !important;
  background-size: 24px 24px !important;
  background-repeat: no-repeat !important;
  background-position: 0px
	-2px !important;
  text-align: left !important;
  vertical-align: middle !important;
  font-weight: bold;
  background-size: 24px 24px !important;
  background-repeat: no-repeat !important;
  background-position: 0px -2px !important;
  height: 24px;
}

.msg-content {
  padding-top: 6px !important;
  padding-left: 6px !important;
}

.messagebox {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  border: solid 0.5px gray;
  background-color: #ffe78d;
  border-radius: 5px;
  text-align: left;
  margin-left: 2px;
  vertical-align: middle;
  font-size: 15px;
}

.red span {
  color: #ff3c00 !important;
}

.red a {
  color: #ff3c00 !important;
}

.blue span {
  color: #0096ed !important;
}

.blue a {
  color: #0096ed !important;
}

.ui-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828 url("../images/merchant-mobile/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
  color: #fff;
  font-weight: bold;
}

.ui-datepicker-calendar th {
  border: 0px !important;
  font-weight: normal !important;
  text-align: center !important;
  vertical-align: middle !important;

  padding-right: 0px !important;
}

.ui-datepicker-calendar td {
  padding: 0px !important;
  border: 0px !important;
  font-weight: normal !important;
  background-color: #ffffff;
  background-repeat: repeat;
  text-align: center;
  vertical-align: middle;
}

.ui-datepicker-calendar .ui-state-disabled {
  background-color: #eeeeee !important;
  background-repeat: repeat !important;
}

.ui-datepicker-calendar td span, .ui-datepicker td a {

  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 0px;
  width: 33px;
  height: 33px;
  padding-right: 0px;
  vertical-align: middle;
}

.ui-datepicker-today, .ui-datepicker-current-day {
  opacity: 1 !important;
}

.ui-datepicker-today span, .ui-datepicker-today a {
  background: url("../images/merchant-mobile/ui-bg_highlight-soft_75_ffe45c_1x100.png") repeat-x scroll 50% top #ffaf00 !important;
  color: white !important;
  border: 0px solid #6dc900 !important;
  font-weight: normal !important;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;

}

.ui-datepicker-current-day span, .ui-datepicker-current-day a {
  border: 3px solid #6dc900 !important;
  font-weight: normal !important;
}

.ui-state-default {
  border-bottom-style: hidden !important;
  background: none !important;
  border: 0px hidden !important;
  font-weight: normal !important;
  text-align: center !important;
  vertical-align: middle !important;
  color: #000000 !important;
}

.ui-datepicker-buttonpane button {
  border: 1px solid #CCC !important;
  background: url("../images/merchant-mobile/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #F6F6F6 !important;
  width: auto !important;
}

#ui-datepicker-div {
  position: absolute !important;
  left: 0px !important;
  top: 2% !important;
  width: 100% !important;
}

#selectTime {
  table {
    width: 100%;
    height: 100%;

    thead {
      th {
        text-align: center;
      }
    }
  }
}

#divTimes {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px 0 15px 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  ul {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      height: 20px;
      position: relative;
      border-bottom: none;
      .arrow_right {
        width: 0;
        height: 0;
        position: absolute;
        visibility: hidden;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 12px solid @orange-color;
        top: -7px;
        left: 35%;
      }

      .arrow_top {
        width: 0;
        height: 0;
        position: absolute;
        visibility: hidden;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 12px solid red;
        top: -11px;
        left: 35%;
      }

      .time_text {
        display: inline-block;
        width: 35%;
        height: 100%;
        font-size: 9pt;
        text-align: center;
        position: relative;
        top: -16px;
      }

      .horizontal_line {
        display: inline-block;
        width: 63%;
        height: 100%;
        border-top: 1px solid @bright-gray-color;
        margin-left: -5px;
      }

      .time_text.selected {
        color: @orange-color;
      }

      .horizontal_line.selected {
        background-color: @bright-orange-color;
      }
    }

    li.disabled:last-child {
      .horizontal_line {
        background-color: white;
      }
    }

    li:nth-child(even) {
      .time_text {
        visibility: hidden;
      }
    }

    li.emphasized {
      .horizontal_line {
        border-top: 1px solid @dark-gray-color;
      }
    }

    li.disabled {
      .horizontal_line {
        background-color: @light-gray-color;
      }
    }

    li.last_appt_time {
      .time_text {
        color: red;
      }
      .horizontal_line {
        border-top: 1px solid red;
      }

      .arrow_top {
        visibility: visible;
      }
    }

    li.current {
      .horizontal_line {
        border-top: 2px solid @orange-color;
      }

      .arrow_right {
        visibility: visible;
      }
    }

    li.current.last_appt_time {
      .arrow_right {
        visibility: hidden;
      }
    }

  }
}

.list-history {
  padding: 0;
  width: 100%;

  .header {
    width: 100%;
    height: 44px;
    background-color: #E2E2E2;
    padding-top: 18px;
    padding-left: 12px;
  }
  .row-item {
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #E2E2E2;
    display: block;
    width: 100%;
    height: 44px;
    padding-left: 16px;
    .col-left {
      position: absolute;
      width: 61%;
      height: 44px;

    }
    .col-last {
      position: absolute;
      text-align: right;
      right: 4px;
      height: 44px;
      width: 16px;
      background: url(../images/merchant-mobile/arrow-next.png) center no-repeat;
      background-size: 12px 15px;
    }
    .shop-icon {
      position: absolute;
      /* height: 18px; */
      width: 100%;
      background: url(../images/merchant-mobile/shop_note.png) center no-repeat;
      background-size: 12px 15px;
      background-position: 0;
      padding-left: 19px;
      padding-right: 10px;
      top: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
    }

    .col-left p {
      position: absolute;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
      height: 18px;
    }
    .col-right {
      position: absolute;
      width: 30%;
      height: 44px;
      right: 27px;
    }
    .col-top {
      position: absolute;
      top: 5px;
      font-weight: bold;
    }
    .col-bottom {
      font-style: italic;
      position: absolute;
      top: 23px;
    }

    .col-right p {
      text-align: right;
      width: 100%;
    }
  }

}

.line-inner {

  p:first-child {
    border-top: 0px solid #E2E2E2 !important;
  }
  p {
    border-top: 1px solid #E2E2E2;
  }
}

.products_line {
  padding: 21px 0px 0px 34px !important;
  p:first-child {
    border-top: 0px solid #E2E2E2 !important;
  }
  p {
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid #E2E2E2;
  }
}
.item-textarea{

  resize: vertical;
  overflow: auto;
  min-height: 88px!important;
}
.item-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 0px 0 0px 38px;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  /* padding: 16px; */
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  width: 100%;
  height: 41px;
  border: 1px solid #ccc;
  text-shadow: none;
  box-shadow: none;
  font-weight: normal !important;
  input {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    /* padding-right: 24px; */
    background-color: transparent;
    height: 39px;
    width: 100%;
    border: 0px;
  }
  textarea {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    /* padding-right: 24px; */
    background-color: transparent;
    height: 100% !important;
    width: 100%;
    border: 0px;

    padding-top: 7px;
  }
  .icon {
    min-width: 14px;
    position: absolute;
    height: 32px;
    left: 5px;
    top: 5px;
    width: 32px;
    padding-left: 0 !important;
    background-size: 30px 30px !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
  }
}
.icon-name {
  background: url(../images/merchant-mobile/user-name.png) no-repeat scroll left center transparent!important;
}

.icon-phone {
  background: url("../images/merchant-mobile/phone.png") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
}

.icon-email {
  background: url("../images/merchant-mobile/mail.png") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
}

.icon-notes {
  background: url("../images/merchant-mobile/notes.png") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
}
