﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" class="no-js">
<head>
    <title>Appointment</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../favicon.ico" rel="icon" type="image/png"/>
    <!-- build:css css/combined.<%= grunt.config.get('project').buildTracking %>.min.css -->
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bxslider-4/dist/jquery.bxslider.min.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/toastr/toastr.min.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/pickadate/lib/compressed/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/toddish-popup/assets/css/popup.css"/>

    <!-- endbuild -->
    <!-- build:css ../assets/css/booker.<%= grunt.config.get('project').buildTracking %>.min.css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/merchant.min.css"/>
    <!-- endbuild -->

    <!-- build:remove -->
    <!--<script type="text/javascript" src="http://127.0.0.1:9999/target/target-script-min.js#Itsme"></script>-->
    <script type="text/javascript">
        function whackWebkitMatchesSelector() {
            var oldMatches = Element.prototype.webkitMatchesSelector;

            function newMatches(selector) {
                try {
                    return oldMatches.call(this, selector)
                }
                catch (err) {
                    return false
                }
            }

            Element.prototype.webkitMatchesSelector = newMatches
        }

        whackWebkitMatchesSelector()
    </script>
    <script type="text/javascript">
        var isDevEnvironment = true;
    </script>

    <!-- /build -->
</head>
<body>
<div id="container">
    <div  ng-controller="AjaxBlockUIController" hidden>
        <div id="loading_wrapper" ng-show="showLoader"  ng-template-url="'../templates/pgloading.html'">
        </div>
    </div>
    <div id="ng-view" ng-view></div>
</div>

<!-- build:js js/libs.<%= grunt.config.get('project').buildTracking %>.js -->
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery-touchswipe/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery-scrollstop/jquery.scrollstop.min.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="../bower_components/i18next/i18next.js"></script>
<script type="text/javascript" src="../bower_components/momentjs/min/moment.min.js"></script>
<script type="text/javascript" src="../bower_components/lodash/lodash.min.js"></script>
<script type="text/javascript" src="../bower_components/q/q.js"></script>
<script type="text/javascript" src="../bower_components/bxslider-4/dist/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../bower_components/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="../bower_components/toastr/toastr.min.js"></script>
<script type="text/javascript" src="../bower_components/pickadate/lib/compressed/picker.js"></script>
<script type="text/javascript" src="../bower_components/pickadate/lib/compressed/picker.date.js"></script>
<script type="text/javascript" src="../bower_components/toddish-popup/assets/js/jquery.popup.min.js"></script>
<script type="text/javascript" src="../bower_components/angulartics/dist/angulartics.min.js"></script>
<script type="text/javascript" src="../bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>

<!-- endbuild -->

<!-- build:remove -->
<script type="text/javascript" src="../bower_components/requirejs/require.js"></script>
<script type="text/javascript" src="../js/main-booker.js"></script>
<!-- /build -->

<!-- start template tags -->

<!-- end template tags -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67144425-2', 'auto');
</script>
</body>
</html>