#loading_wrapper {
  position: absolute;
  display:table;
  height:100%;
  width:100%;
  background: rgba(248, 248, 248, 0.3 );
  z-index: 10000000000;
}

#pgloading {
  display:table-cell;
  vertical-align:middle;
}

#floatingCirclesG{
  width:128px;
  height:128px;
  margin: 0 auto;
  -moz-transform:scale(0.6);
  -webkit-transform:scale(0.6);
  -ms-transform:scale(0.6);
  -o-transform:scale(0.6);
  transform:scale(0.6);
}

.f_circleG{
  position:absolute;
  background-color:#ffffff;
  height:23px;
  width:23px;
  -moz-border-radius:12px;
  -moz-animation-name:f_fadeG;
  -moz-animation-duration:0.96s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:normal;
  -webkit-border-radius:12px;
  -webkit-animation-name:f_fadeG;
  -webkit-animation-duration:0.96s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -ms-border-radius:12px;
  -ms-animation-name:f_fadeG;
  -ms-animation-duration:0.96s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:normal;
  -o-border-radius:12px;
  -o-animation-name:f_fadeG;
  -o-animation-duration:0.96s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:normal;
  border-radius:12px;
  animation-name:f_fadeG;
  animation-duration:0.96s;
  animation-iteration-count:infinite;
  animation-direction:normal;
}

#frotateG_01{
  left:0;
  top:52px;
  -moz-animation-delay:0.36s;
  -webkit-animation-delay:0.36s;
  -ms-animation-delay:0.36s;
  -o-animation-delay:0.36s;
  animation-delay:0.36s;
}

#frotateG_02{
  left:15px;
  top:15px;
  -moz-animation-delay:0.48s;
  -webkit-animation-delay:0.48s;
  -ms-animation-delay:0.48s;
  -o-animation-delay:0.48s;
  animation-delay:0.48s;
}

#frotateG_03{
  left:52px;
  top:0;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
  -ms-animation-delay:0.6s;
  -o-animation-delay:0.6s;
  animation-delay:0.6s;
}

#frotateG_04{
  right:15px;
  top:15px;
  -moz-animation-delay:0.72s;
  -webkit-animation-delay:0.72s;
  -ms-animation-delay:0.72s;
  -o-animation-delay:0.72s;
  animation-delay:0.72s;
}

#frotateG_05{
  right:0;
  top:52px;
  -moz-animation-delay:0.84s;
  -webkit-animation-delay:0.84s;
  -ms-animation-delay:0.84s;
  -o-animation-delay:0.84s;
  animation-delay:0.84s;
}

#frotateG_06{
  right:15px;
  bottom:15px;
  -moz-animation-delay:0.96s;
  -webkit-animation-delay:0.96s;
  -ms-animation-delay:0.96s;
  -o-animation-delay:0.96s;
  animation-delay:0.96s;
}

#frotateG_07{
  left:52px;
  bottom:0;
  -moz-animation-delay:1.08s;
  -webkit-animation-delay:1.08s;
  -ms-animation-delay:1.08s;
  -o-animation-delay:1.08s;
  animation-delay:1.08s;
}

#frotateG_08{
  left:15px;
  bottom:15px;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
  -ms-animation-delay:1.2s;
  -o-animation-delay:1.2s;
  animation-delay:1.2s;
}

@-moz-keyframes f_fadeG{
  0%{
    background-color:#FFAE00}

  100%{
    background-color:#ffffff}

}

@-webkit-keyframes f_fadeG{
  0%{
    background-color:#FFAE00}

  100%{
    background-color:#ffffff}

}

@-ms-keyframes f_fadeG{
  0%{
    background-color:#FFAE00}

  100%{
    background-color:#ffffff}

}

@-o-keyframes f_fadeG{
  0%{
    background-color:#FFAE00}

  100%{
    background-color:#ffffff}

}

@keyframes f_fadeG{
  0%{
    background-color:#FFAE00}

  100%{
    background-color:#ffffff}

}