@import "less/common.less";
@import "less/definitions.less";
@import "less/user-mobile/mobile.less";
@import "less/plugins/toastr.config.less";
@import "less/loader.less";
@import "less/popup.less";

html, body, #container, #ng-view {
  width: 100%;
  height: 100%;
}

body {
  .font-helvetica();
  .text-size(14px);
  line-height: 1;
}

#container {

}

button:focus,button:active,button:hover, a:focus, a:hover {
  outline: none !important;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

p {
  margin: 0;
}

input[type="checkbox"]:focus {
  outline: none;
  border: none;
}

input[type="checkbox"]:active {
  outline: none;
  border: none;
}

.error {
  padding: 20px;
  color: red;
  text-align: center;
}

textarea:focus, input:focus{
  outline: 0;
}