.login {
  line-height: normal;
  .font-helvetica();
  .text-size(16px);

  .body_header {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .body_content {
    padding-top: 64px;
    padding-left: 30px;
    padding-right: 30px;

    .form_wrapper {
      background-color: white;
      border: 1px solid @gray-color;
      border-radius: 5px;
      padding: 13px 16px;

      ::-webkit-input-placeholder {
        .font-helvetica-light-italic();
      }

      :-moz-placeholder { /* Firefox 18- */
        .font-helvetica-light-italic();
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        .font-helvetica-light-italic();
      }

      :-ms-input-placeholder {
        .font-helvetica-light-italic();
      }

      .horizontal_line {
        background-color: @gray-color;
        border : none;
        height : 1px;
        margin : 13px 0;
        box-sizing: content-box;
      }

      > div {
        height: 18px;

        input {
          width: 100%;
          border: none;
          padding: 0;
          margin: 0;
        }

        input:focus {
          border: none;
          outline: none;
        }
      }

      .username {
      }

      .password {
      }


    }

    .sign_in {
      height: 44px;
      margin-top: 16px;
      background-color: @green-color;
      border: 1px solid @green-color;
      border-radius: 5px;
      color: white;
      text-align: center;

      button {
        height: 100%;
      }
    }

    .error_message {
      margin-top: 32px;
      .text-size(14px);

      p {
        line-height: 12pt;
        color: @red-color;
        text-align: center;
      }
    }
  }


}