<div ng-content-size trigger="isPickerShow" class="appointments_list_container">
    <div class="body_header" ng-swipe data-down="fn.startPicker()" data-up="fn.stopPicker()">
        <div class="btn_group">
            <div class="col-xs-4 menu_signout">
                <div class="icon" ng-click="fn.showSidebar()">
                    <span>{{data.currentEmployee.fullName || i18n.text_all}}</span>
                </div>
            </div>
            <div class="date col-xs-4" ng-click="fn.togglePicker()">
                <p ng-show="!flags.isToday && !flags.isYesterday && !flags.isTomorrow"><span>{{data.thisMonth}}</span>
                </p>

                <p ng-show="flags.isToday"><span>{{::i18n.today}}</span></p>

                <p ng-show="flags.isYesterday"><span>{{::i18n.yesterday}}</span></p>

                <p ng-show="flags.isTomorrow"><span>{{::i18n.tomorrow}}</span></p>
            </div>
            <div class="today col-xs-2" ng-click="fn.goToThisWeek()()">
                <div class="text">{{i18n.today}}</div>
            </div>
            <div class="add_new col-xs-2">
                <button ng-click="fn.navigateToAddNewAppointment()">
                    <img src="../assets/images/merchant/btn_add.png">
                </button>
            </div>
        </div>
        <div class="date_time_picker" date-time-picker></div>
        <div id="week_days" class="week_days" sp-visible="!isPickerShow"></div>

    </div>

    <div class="body_content" info-sticky-directive>
        <div class="date_anchor_sticky">
        </div>
        <div class="scroll_wrapper">
            <div class="appointment_list" info-sticky-directive
                 ng-repeat="apptList in data.appointmentPerDayList"
                 ng-class="{no_appointment: !apptList.appointmentsList.length}">
                <div class="date_anchor" ng-binding-attribute ng-process-date="apptList.dateOfList_ISO">
                    <p class="col-xs-12" ng-show="apptList.appointmentsList.length">
                        <span>{{::apptList.dateOfList_t}}&nbsp;</span>
                        <span>{{'(' + apptList.appointmentsList.length + ' '  + i18n.text_appointment + ')'}}</span>
                    </p>

                    <p class="col-xs-12" ng-show="!apptList.appointmentsList.length">
                       <span ng-show="apptList.status != 'NO_SCHEDULE'">
                            <span ng-show="::apptList.dateOfList != apptList.startPreviousEmptyDate">{{::apptList.startPreviousEmptyDate_t}}</span>
                            <span ng-show="::apptList.dateOfList != apptList.startPreviousEmptyDate">~</span>
                            <span>{{::apptList.dateOfList_t}}</span>&nbsp;
                       </span>
                        <span ng-show="apptList.status== 'NO_SCHEDULE'">{{::apptList.monthOfList_t}}</span>
                        <span ng-show="apptList.status=='WORKING'">{{'(' + apptList.appointmentsList.length + ' '  + i18n.text_appointment + ')'}}</span>
                        <span ng-show="apptList.status=='DATE_OFF'">({{i18n.text_day_off}})</span>
                        <span ng-show="apptList.status== 'NO_SCHEDULE'">({{i18n.text_no_schedule_setting}})</span>
                    </p>
                </div>

                <div class="appointment_details" ng-repeat="appt in apptList.appointmentsList"
                     ng-class="::{approved:appt.status == APPOINTMENT_CODE.APPROVED, unapproved: appt.status == APPOINTMENT_CODE.UNAPPROVED, at_store: appt.status == APPOINTMENT_CODE.ATSTORE}">
                    <div class="time">
                        <p>{{::appt.fromTime}}</p>

                        <p>{{::appt.toTime}}</p>
                    </div>
                    <div class="content" ng-swipe data-left="fn.showCancelButton($event)"
                         data-right="fn.hideCancelButton($event)">
                        <div class="customer_name" ng-show="appt.bookerInfo.fullName">
                            {{::appt.bookerInfo.fullName + '' + i18n.name_title}}
                        </div>

                        <div class="customer_name" ng-show="appt.bookerInfo.displayName && !appt.bookerInfo.fullName">
                            {{::appt.bookerInfo.displayName + '' + i18n.name_title}}
                        </div>

                        <div class="customer_name"
                             ng-show="appt.bookerInfo.shopperCode && !appt.bookerInfo.displayName && !appt.bookerInfo.fullName">
                            {{::appt.bookerInfo.shopperCode}}
                        </div>

                        <div class="font-helvetica-light"
                             ng-click="fn.navigateToEditAppointment(appt.id, apptList.dateOfList, appt.fromTime)">
                            <div class="employee">
                                <span class="{{::appt.employees[0].color}}">{{::appt.employees[0].fullName}}</span>
                            </div>
                            <div class="services" ng-repeat="prod in appt.products">
                                <div class="service_name">{{::prod.productName + ' '}}</div>
                                <div class="service_duration font-helvetica-light-italic">
                                    {{::'(' + prod.duration + '' + i18n.label_minute + ')'}}
                                </div>
                            </div>
                        </div>

                        <div class="required" ng-show="::appt.employees[0].employeeRequested">
                            <p>{{::i18n.required}}</p>
                        </div>
                        <div class="cancel_appointment"
                             data-right="fn.hideCancelButton($event)"
                             ng-click="fn.showCancelPopup($event,apptList.dateOfList, appt.id, appt.toTime, appt)">
                            <div class="table_display">
                                <div class="table_cell">
                                    <p>{{::i18n.label_cancel}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra_space"></div>
        </div>

    </div>
</div>
