<div class="appointment_schedule" ng-controller="AppointmentScheduleController">
    <div class="body_header">
        <div class="non-padding col-xs-3">
            <a class="non-padding" ng-click="fn.goToPrevTab()">
                <img ng-show="::!status.isEditing" class="non-padding" src="../assets/images/merchant/btn_back.png">
                <img ng-show="::status.isEditing" class="non-padding" src="../assets/images/merchant/cross_icon.png">
            </a>
        </div>
        <div class="title col-xs-6">
            <p><span>{{::i18n.select_service}}</span></p>
        </div>
        <div class="non-padding col-xs-3 forward">
            <a class="non-padding"
               ng-show="status.isCanGoToNextStep"
               ng-click="fn.goToNextTab()">
                <img class="non-padding" src="../assets/images/merchant/btn_back.png">
            </a>
        </div>
    </div>
    <div class="appt_hot_pepper" ng-show="::status.isHotPepper">
        <p>{{::i18n.msg_appt_from_hot_pepper}}</p>
    </div>
    <div class="content_title">
        <ul>
            <li class="title">{{::i18n.label_employee}}</li>
            <li class="title">{{::i18n.label_product}}</li>
            <li class="title">{{::i18n.label_resource}}</li>
        </ul>
    </div>
    <div class="body_content" ng-class="::{'is_hot_pepper': status.isHotPepper}">
        <div class="select_staff">
            <ul class="list">
                <li ng-repeat="item in data.employees"
                    ng-class="{'disable': item.enable == false,'active':item.id==data.newAppointment.employee.id }">
                    <div class="above" ng-click="fn.selectEmployee($event, item)">
                        <p class="staff_name">{{item.fullName}}</p>
                    </div>
                    <div ng-show="item.showRequire" class="below">
                        <input id="required" type="checkbox" ng-model="item.requireValue"
                               ng-checked="(item.id == data.newAppointment.employee.id) && data.newAppointment.employee.employeeRequested"
                               ng-disabled="status.isHotPepper"
                               ng-click="fn.selectEmployee($event, item)">
                        <span >{{::i18n.required}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <!--
              -->
        <div class="select_service">
            <ul class="list">
                <li ng-class="{'active': data.newAppointment.products.isServiceInList(item.id) , 'disable': !item.enable}"
                    ng-click="fn.selectService($event, item)"
                    ng-repeat="item in data.products">
                    <div class="table_display">
                        <div class="table_cell_display">
                            <p>
                                <span class="service_name">{{::item.productName}}</span>
                                <span class="duration"><i>({{::i18n.text_yen + item.price + ' - ' + item.duration + '' +
                                    i18n.label_minute}})</i></span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--
                -->
        <div class="select_resource">
            <ul class="list">
                <li ng-repeat="res in data.resources"
                    ng-class="{'active':data.newAppointment.resources.isResourceInList(res.id), 'disable': !data.newAppointment.products.list.length}"
                    ng-click="fn.selectResource($event, res)">
                    <p class="resource_name">{{res.resourceName}}</p>
                </li>
            </ul>
        </div>
    </div>

</div>