<div class="fill_details" ng-controller="AppointmentDetailsController">
    <div class="body_header">
        <div class="non-padding col-xs-3">
            <a class="non-padding" ng-click="fn.goToPrevTab()" ng-show="::!status.isViewing && !status.isEditing">
                <img class="non-padding" src="../assets/images/merchant/btn_back.png">
            </a>
            <a class="non-padding" href="#/appointments" ng-show="::status.isViewing || status.isEditing">
                <img class="non-padding" src="../assets/images/merchant/cross_icon.png">
            </a>
        </div>
        <div class="title col-xs-6">
            <p><span>{{::i18n.customer_info}}</span></p>
        </div>
        <div class="non-padding col-xs-3">
            <button class="non-padding btn-confirm" ng-click="fn.finish()" ng-show="!status.isViewing">
                <span ng-show="::!status.isEditing">{{::i18n.reserve}}</span>
                <span ng-show="::status.isEditing">{{::i18n.save}}</span>
            </button>
        </div>
    </div>
    <div class="view_only_message" ng-show="status.isViewing">
        <p>{{::i18n.msg_appointment_view_only}}</p>
    </div>
    <div class="body_content" ng-class="::{'view_only': status.isViewing}">
        <div class="form" role="form">

            <div class="row product_info">
                <div class="col-xs-4">
                    <p>{{::i18n.label_employee}}</p>
                </div>
                <div class="col-xs-8 ">
                    <p class="customer_name"><span>{{::data.newAppointment.employee.fullName}}</span></p>

                    <div class="required" ng-show="::data.newAppointment.employee.employeeRequested"><p>
                        {{::i18n.required}}</p></div>
                </div>

            </div>

            <div class="row product_info">
                <div class="col-xs-4">
                    <p>{{::i18n.label_product}}</p>
                </div>
                <div class="col-xs-8 ">
                    <p ng-repeat="prod in data.newAppointment.products.list">
                        <span>{{prod.productName}}</span>
                            <span><i>({{prod.price +'' + i18n.text_yen + ' - ' + prod.duration + ''
                                +i18n.label_minute}})</i></span>
                </div>
            </div>

        </div>


        <div class="row product_info">
            <div class="col-xs-4">
                <p>{{::i18n.label_time}}</p>
            </div>
            <div class="col-xs-8 ">
                <p><span>{{::data.newAppointment.scheduleDate.displayDate}}</span></p>

                <p><span><i>{{data.newAppointment.fromTime}} - {{data.newAppointment.toTime}}</i></span></p>
            </div>

        </div>

        <div class="row product_info">
            <div class="col-xs-4">
                <p>{{::i18n.label_resource}}</p>
            </div>
            <div class="col-xs-8 ">
                <p ng-repeat="res in data.newAppointment.resources.list">
                    <span>{{res.resourceName}}</span>
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-4">
                <p class="">
                    {{::i18n.label_id}}</p>
            </div>
            <div class="col-xs-8">
                <p>
                    <input class="form-input" id="shopperCode" name="shopperCode"
                           ng-model="data.newAppointment.booker.shopperCode"
                           ng-disabled="status.isViewing"
                           ng-change="fn.validateShopperCodeFullNameDisplayName()"/>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <p class="">
                    {{::i18n.label_name}}</p>
            </div>
            <div class="col-xs-8">
                <p>
                    <input class="form-input" id="fullName" name="fullName"
                           ng-model="data.newAppointment.booker.fullName"
                           ng-disabled="status.isViewing"
                           ng-change="fn.validateShopperCodeFullNameDisplayName()"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p class="">
                    {{::i18n.label_displayname}}</p>
            </div>
            <div class="col-xs-8">
                <p><input class="form-input" id="displayName" name="displayName"
                          ng-model="data.newAppointment.booker.displayName"
                          ng-disabled="status.isViewing"
                          ng-change="fn.validateShopperCodeFullNameDisplayName()"/></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p ng-class="{'text-red': validator.phoneNumber.isNotValid}">
                    {{::i18n.label_phone}}</p>
            </div>
            <div class="col-xs-8">
                <p>
                    <input class="form-input" type="text" id="phoneNumber" name="phoneNumber"
                           placeholder="{{::i18n.label_phone}}"
                           ng-model="data.newAppointment.booker.phoneNumber"
                           ng-disabled="status.isViewing"
                           ng-change="fn.validatePhoneNumber()"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p ng-class="{'text-red': validator.email.isNotValid}">
                    {{::i18n.label_email}}</p>
            </div>
            <div class="col-xs-8">
                <p>
                    <input class="form-input" type="text" placeholder="{{::i18n.label_email}}" id="emailAddress"
                           name="emailAddress"
                           ng-model="data.newAppointment.booker.emailAddress"
                           ng-disabled="status.isViewing"
                           ng-change="fn.validateEmail()"/>
                </p>
            </div>
        </div>
        <div class="row note">
            <div class="col-xs-4">
                <p ng-class="{'text-red': validator.note.isNotValid}">
                    {{::i18n.label_note}}</p>
            </div>
            <div class="col-xs-8">
                    <textarea class="form-textarea" id="notes" name="notes"
                              ng-model="data.newAppointment.notes"
                              ng-disabled="isViewing"
                              ng-change="fn.validateNote()">

                    </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p class="">{{::i18n.label_source}}</p>
            </div>
            <div class="col-xs-8">
                <div class="selected_channel" ng-click="fn.toggleChannelAccordion()" ng-hide="::    status.isViewing">
                    <p>
                        <span class="channels_selection_header">{{data.newAppointment.displayChannelName}}</span>
                            <span class="arrow">
                            <i class="glyphicon  text-size-18pt"
                               ng-class="{'glyphicon-menu-down': !status.isChanelAccordionOpen, 'glyphicon-menu-up': status.isChanelAccordionOpen}"></i>
                            </span>
                    </p>
                </div>
                <div class="channels_list" ng-show="status.isChanelAccordionOpen">
                    <form>
                        <div ng-repeat="item in ::data.channels" class="sources row">
                            <div class="col-xs-8">
                                <label class="" for="{{'chanel-' + $index }}">{{item.channelName}}</label>
                            </div>
                            <div class="col-xs-4">
                                <input type="radio" name="source" ng-model="data.newAppointment.channel"
                                       id="{{'chanel-' + $index}}"
                                       value="{{item.specialType}}"
                                       ng-disabled="isViewing"
                                       ng-change="fn.displaySelectedChannelName(item)"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <p class="">{{::i18n.label_tags}}</p>
            </div>
            <div class="col-xs-8" ng-show="!status.isViewing">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group col-xs-6" role="group" ng-repeat="tag in data.tags">
                        <button type="button" class="btn"
                                ng-click="fn.toggleTagSelection(tag)"
                                ng-class="{selected: data.newAppointment.tags.isTagInList(tag.id), viewed_only: status.isViewing}"
                                ng-disabled="isViewing">{{tag.tagName}}
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-xs-8 view_only_tag" ng-show="status.isViewing">
                <div ng-repeat="tag in data.newAppointment.tags.list">
                    <span>{{tag}}</span><span ng-hide="$last">,&nbsp</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 status" ng-show="::status.isEditing || status.isViewing">
                <div class="btn-group status_item" role="group"
                     ng-repeat="sts in data.appointmentStatuses"
                     ng-if="sts.name=='APPROVED' || sts.name == 'ATSTORE' || sts.name =='UNAPPROVED'">
                    <button type="button" class="btn tag"
                            ng-click="fn.toggleStatusSelection(sts)"
                            ng-class="{selected: sts.code == data.newAppointment.status, viewed_only: status.isViewing, approved:sts.name=='APPROVED',at_store: sts.name == 'ATSTORE', unapproved: sts.name =='UNAPPROVED' }"
                            ng-disabled="status.isViewing">{{sts.name_t}}
                    </button>
                </div>
            </div>
        </div>

        <div class="row" ng-show="::status.isEditing && !status.isViewing">
            <div class="edit col-xs-6">
                <p ng-click="fn.goToFirstTab()">
                    <img class="non-padding" src="../assets/images/merchant/btn_edit.png">
                    <span>{{::i18n.label_edit_appt}}</span>
                </p>
            </div>
            <div class="cancel col-xs-6">
                <p ng-click="fn.showCancelPopup()">
                    <img class="non-padding" src="../assets/images/merchant/cross_icon.png">
                    <span>{{::i18n.label_cancel_appointment}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
</div>