<div class="cancel_popup" ng-controller="CancelAppointmentController">
    <div class="popup_header">
        <img src="../assets/images/merchant/popup_header.png">
    </div>
    <div class="popup_body">
        <div class="message">
            <p>{{::i18n.msg_appointment_confirm_deleted}}</p>
            <p ng-show="::status.isSendmailMessageShown">
                <input type="checkbox" id="send_email" ng-model="status.sendEmail">
                <label for="send_email">{{::i18n.label_email_inform_appt_changed}}</label>
            </p>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default col-xs-6" ng-click="fn.closeCancelPopup()"> {{::i18n.label_close}}</button>
            <button type="button" class="btn btn-default col-xs-6" ng-click="fn.cancelAppointment()"> {{::i18n.confirm}}</button>
        </div>
    </div>
</div>