<div class="channels_selection" sp-chanel-selection-header>
    <accordion>
        <accordion-group is-open="isChanelAccordionOpen">
            <accordion-heading>
                <span class="channels_selection_header">{{selectedChannelName}}</span>
                <span class="pull-right"><i class="glyphicon text-gray text-size-18pt"
                                            ng-class="{'glyphicon-menu-down': !isChanelAccordionOpen, 'glyphicon-menu-up': isChanelAccordionOpen}"></i></span>
            </accordion-heading>
            <div>
                <form>
                    <div ng-repeat="item in channels" class="sources row">
                        <div class="col-xs-8">
                            <p class="">{{item.channelName}}</p>
                        </div>
                        <div class="col-xs-4">
                            <input type="radio" name="source" ng-model="form.info.channelId"
                                   value="{{item.id}}" ng-disabled="isViewing"/>
                        </div>
                    </div>
                </form>
            </div>
        </accordion-group>
    </accordion>
</div>