<div ng-controller="EmployeeFilterController" class="emp_fil_cont">
    <div class="employeeList" ng-swipe data-left="fn.close()">
        <ul>
            <li ng-click="fn.selectEmployee()" ng-class="::{active: !data.currentEmployee.id}">
                {{i18n.text_all}}
            </li>
            <li ng-repeat="emp in ::data.employeeList"
                    ng-click="fn.selectEmployee(emp.id)"
                    ng-class="::{active: emp.id == data.currentEmployee.id}">
                {{::emp.fullName}}
            </li>

        </ul>
    </div>
    <div class="signout" ng-click="fn.openSignoutPopup()">
        <a href="" >
            <img src="../assets/images/merchant/btn_signout.png">
        </a>
        <span>{{i18n.label_logout}}</span>
    </div>
</div>