<div class="new_appointment">
        <tabset>
            <tab tab-id="tab-1" template-url="../templates/merchant/appointment_schedule.html"></tab>
            <tab tab-id="tab-2" template-url="../templates/merchant/select_time.html"></tab>
            <tab tab-id="tab-3" template-url="../templates/merchant/appointment_details.html"></tab>
        </tabset>
</div>