<div class="select_time"
     ng-controller="DateTimeSelectionController">
    <div class="body_header">
        <div class="non-padding col-xs-3">
            <a class="non-padding" ng-click="fn.goToPrevTab()">
                <img class="non-padding" src="../assets/images/merchant/btn_back.png">
            </a>
        </div>
        <div class="title col-xs-6">
            <p><span>{{::i18n.select_time}}</span></p>
        </div>
        <div class="non-padding col-xs-3 forward">
            <a class="non-padding"
               ng-show="status.isCanGoToNextStep"
               ng-click="fn.goToNextTab()">
                <img class="non-padding" src="../assets/images/merchant/btn_back.png">
            </a>
        </div>
    </div>
    <div class="body_content" sp-adjust-size trigger="status.isPickerShow">
        <div class="date_display">
            <div class="col-xs-3 btn_pre" ng-click="fn.selectPreDate()" ng-show="!data.newAppointment.scheduleDate.isToday">
                <button>
                    <img src="../assets/images/merchant/btn_pre.png">
                </button>
            </div>
            <div class="col-xs-3 btn_pre" ng-show="data.newAppointment.scheduleDate.isToday">
                <button>
                    <img src="../assets/images/merchant/btn_disable_pre.png">
                </button>
            </div>
            <div class="col-xs-6" ng-click="fn.toggleDatePicker()">
                <p >{{data.newAppointment.scheduleDate.displayDate}}</p>
            </div>
            <div class="col-xs-3 btn_next" ng-click="fn.selectNextDate()">
                <button>
                    <img src="../assets/images/merchant/btn_next.png">
                </button>
            </div>
        </div>
        <div class="date_time_picker" date-time-picker></div>
        <div class="time_grid" ng-time-grid="timeRange" ng-show="!status.isDayOff && !status.isNoSchedule"></div>
        <div class="time_grid day_off" ng-show="status.isDayOff">
            <div class="wrapper">
                <div class="content">
                    <div class="image_wrapper"><img src="../assets/images/merchant/day_off.png"/></div>
                </div>
            </div>
        </div>
        <div class="time_grid no_schedule" ng-show="status.isNoSchedule">
            <div class="wrapper">
                <div class="content">
                    <div class="no_schedule_icon">
                        <img src="../assets/images/merchant/no_schedule_setting.png"/>
                    </div>
                    <div class="notice">
                        <div class="message">{{::i18n.text_no_schedule_setting}}</div>
                        <div class="emotion_symbol"><img src="../assets/images/merchant/emotion.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>