<div class="select_staff">
        <ul class="list" ng-if="data.employees.length">
            <li ng-class="{'disable': item.enable == false,'active':item.id==form.employee.id }"
                ng-repeat="item in data.employees"
                ng-click="fn.selectEmployee($event, item)">
                <div class="left">
                    <p>{{item.fullName}}</p>
                </div>
                <div ng-show="item.showRequire" class="right">
                    <p class="col-xs-6 no_require"
                       ng-class="{checked: (form.employee.require !== undefined) && !form.employee.require && item.id==form.employee.id}"
                       ng-click="fn.requireEmployee($event, false)">
                        <span ng-show="form.employee.id == item.id">{{::i18n.text_no_require}}</span>
                    </p>
                    <p class="col-xs-6 require"
                       ng-class="{checked: (form.employee.require !== undefined) && form.employee.require && item.id==form.employee.id}"
                       ng-click="fn.requireEmployee($event, true)">
                        <span ng-show="form.employee.id == item.id" >{{::i18n.required}}</span>
                    </p>
                </div>
            </li>
        </ul>
</div>