<div class="cancel_popup">
    <div class="popup_header">
        <img src="../assets/images/merchant/popup_header.png">
    </div>
    <div class="popup_body">
        <div class="message">
            <p>{{::i18n.msg_signout_confirm}}</p>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default col-xs-6" ng-click="fn.closePopup()"> {{::i18n.label_close}}</button>
            <button type="button" class="btn btn-default col-xs-6" ng-click="fn.signout()"> {{::i18n.confirm}}</button>
        </div>
    </div>
</div>