<div class="success_popup">
    <div class="popup_header">
        <img src="../assets/images/merchant/popup_header.png">
    </div>
    <div class="popup_body">
        <div class="message">
            <p>{{::i18n.msg_reservation_success}}</p>
        </div>
        <div class="check">
           <button ng-click="fn.closePopup()"> <img src="../assets/images/merchant/popup_check.png"></button>
        </div>
    </div>
</div>