<ul class="bxslider">
    <li class="first_week">
        <ul class="day_list">
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
        </ul>
    </li>

    <li class="second_week">
        <ul class="day_list">
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
        </ul>
    </li>

    <li class="third_week">
        <ul class="day_list">
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li ng-click="fn.scrollToDate($event)">
                <p class="day_of_week"></p>

                <p><span class="date_of_month"></span></p>
            </li>
        </ul>
    </li>
</ul>