<div class="login">
    <div class="body_header">
        <img src="../assets/images/banner.png" alt="..."/>
    </div>
    <div class="body_content">

        <div class="form_wrapper">
            <div class="username">
                <input type="text" placeholder="{{::i18n.label_username}}"
                       ng-model="credentials.username">
            </div>
            <div class="horizontal_line">
            </div>
            <div class="password">
                <input type="password" placeholder="{{::i18n.label_password}}"
                       ng-model="credentials.password">
            </div>
        </div>
        <div class="sign_in" ng-click="fn.attemptLogin()">
            <button>{{i18n.label_login}}</button>
        </div>

        <div class="error_message" ng-show="error">
            <p>{{::i18n.msg_invalid_username_password}}</p>
        </div>
    </div>
</div>
