<div class="cancel_popup">
    <div class="popup_header">
        <img src="../assets/images/merchant-mobile/popup_header.png">
    </div>
    <div class="popup_body">
        <div class="message">
            <p><span> {{message}}</span></p>
        </div>
        <div class="btn-group" role="group" ng-show="showConfirm">
            <button class="button button-bg" ng-click="cancel()">{{::i18n.label_close}}</button>
            <button class="button button-bg" ng-click="ok()">{{::i18n.label_ok}}</button>
        </div>
    </div>
</div>
