#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
}

.toast-message {
  text-align: center;
  font-size: 12pt;
}